name: Docker

on:
  push:
    tags: [ 'v*.*.*' ]

env:
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  PLATFORMS: linux/arm64,linux/amd64

jobs:
  build-binaries:
    name: Build Binaries
    uses: ./.github/workflows/build.yml

  build-docker:
    needs:
      - build-binaries

    name: Build Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4.1.7
        with:
          name: bin
          path: build/bin/

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          target: scratch
          tags: ${{ env.IMAGE_NAME }}:${{ needs.build-binaries.outputs.app-version }},${{ env.IMAGE_NAME }}:${{ needs.build-binaries.outputs.git-commit }},${{ env.IMAGE_NAME }}:latest
          platforms: ${{ env.PLATFORMS }}
